/node_modules/
!/node_modules/react-native-geolocation-service/android/build.gradle

# CocoaPods
/ios/Pods/
/ios/build/

#android
/android/.gradle/
/android/.idea/
android/app/build/
android/local.properties

#vscode
.vscode/.react/debuggerWorker.js
.vscode/.react/index.bundle
.vscode/.react/index.map
